*{
  scroll-behavior: smooth;
  margin: 0;
}

body{
    background-color: #cc1c39e1;
    z-index: 1000;
}

.PokeballImg{
    height: 90px;
}

.headerTop{
    display: flex;
    color: rgb(247, 255, 17);
    font-family:system-ui;
    font-size: 22px;
    align-items: center;
    margin-left: 30px;
    gap: 30px;
    -webkit-text-stroke: 2px rgb(30, 122, 242); 
}

.SearchBar{
    width: 60%;
    height: 35px;
    border-radius: 30px;
    font-size: larger;
    margin-left: 20px;
 }
input[type=text] {
    background-color: rgba(248, 248, 248, 0.976);
    background-image: url('img/search icon.png');
    background-position: 5px 18px ; 
    background-repeat: no-repeat;
    padding: 12px 15px 12px 30px;
    background-size: 20px 20px; 
  }

  .mainCard{
    height: 80vh;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
  }

  .cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pokemonCard:hover{
    transform: scale(1.05);
  }

  .pokemonCard{
    height: 300px;
    width: 200px;
    background-color: rgba(108, 103, 103, 0.244);
    border-radius: 5px;
    border: outset rgb(130, 128, 128) 2px;
    margin: 15px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-image: url(img/pokeball2.png);
    background-position: 185px  285px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    cursor: pointer;
    transition: transform 0.1s ease-in;
    box-shadow: 5px 5px 5px rgb(103, 101, 101);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #d3d2d2;
    border: outset 1px black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #DC0A2D;
    border-radius: 3px;
    height: 40px;
    border: solid 1px black;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8f8a8a;
  }

  .PokeNames{
    display: flex;
    justify-content: space-around;
    color: black;
  }

  .PokeImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 195px;
    border: inset 1px rgb(119, 113, 113);
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .PokeType{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 1px black;
    border-radius: 10px;
    align-items: center;
  }

  .PokeImg{
    height: 150px;
    transition: transform 0.3s ease-in-out;
  }

  .PokeImg:hover{
    transform: scale(1.2);
  }

  .powerbutton{
    height: 45px;
    margin-right: 20px;
  }
  .pokdedexbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  100px;
  }

  .searchButton{
    width: 54px;
    height: 54px;
    border-radius: 50px;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    background-image: url('img/relodeicon.png');
    background-position: 2px 2px ; 
    background-repeat: no-repeat;
    background-size: 48px; 
    cursor: pointer;
    border: outset 1px black;
  }

  .searchSection{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border: outset 2px rgba(250, 246, 246, 0.676);
    border-radius: 50px;
    background-color: #474646;
    height: 70px;
  }

  .PokeCardInfo{
    height: fit-content;
    width: 100px;
    background-color: rgb(135, 131, 131);
  }

  .PokeCardInfo {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 480px;
    background-color: rgb(167, 157, 157, 0.950);
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    border: 2px black solid;
    border-radius: 5px;
}

.PokeCardInfo img {
    max-width: 50%;
}

.PokeCardInfo h2, .PokeCardInfo h3 {
    margin: 10px 0;
    font-size: 32px;
}

.Pokecardbutton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokeCardClosebutton {
    height: 30px;
    border: outset 1px white;
    background-color: #DC0A2D;
    border-radius: 15px;
    color: #d3d2d2;
    font-size: larger;
    cursor: pointer;
}

.PokeStats{
  font-size: larger;
  color: white;
}

.PokeInfoCardName{
  color: white;
}

.center{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.loadMoreButton{
  height: 25px;
  width: auto;
  color: rgb(243, 4, 4);
  font-size: 16px;
  font-weight: bold;
  background-color: #fbf9fa;
  border-radius: 10px;
  border: rgb(57, 55, 55) 1px outset;
  margin-top: 10px;
}

.nextPokemonButton{
  height: 20px;
  align-items: center;
  justify-content: center;
  border: #cc1c39e1;
  border-radius: 5px;
  cursor: pointer;
}




  
.grass{
    background-color: rgb(59, 170, 61, 0.950);
}
.fire{
    background-color: rgb(233, 81, 81, 0.950);
}
.water{
    background-color: rgba(73, 153, 177, 0.95);
}
.bug{
    background-color: rgb(246, 171, 41, 0.950);
}
.normal{
    background-color: rgba(143, 140, 138, 0.950);
}
.poison{
    background-color:  rgba(133, 64, 194, 0.874);
}
.electric{
    background-color: rgba(190, 180, 67, 0.95);
}
.ground{
    background-color: rgb(158, 108, 65, 0.950); 
}
.fairy{
    background-color: rgb(235, 177, 187, 0.950);
}
.fighting{
    background-color: rgb(180, 125, 69, 0.950);
}
.psychic{
    background-color: rgba(196, 104, 197, 0.95);
}
.rock{
    background-color: rgba(128, 106, 82, 0.95);
}
.ghost{
    background-color: rgba(68, 53, 85, 0.95);
}
.dragon{
    background-color: rgba(118, 127, 159, 0.95);
}

.steel{
    background-color: rgb(77, 77, 77, 0.950);
}
.ice{
    background-color: rgba(121, 196, 219, 0.95);
}

  

@media(max-width: 500px){

.PokeCardInfo{
  font-size: 15px;
  height:  fit-content;
}
.PokeCardInfo h2, .PokeCardInfo h3 {
  font-size: 20px;
}
.PokeCardInfo img{
  height: 130px;
}
.pokemonCard{
  height: 200px;
  width: 150px;
  font-size: 16px;
  margin: 10px;
}
.PokeImg{
  height: 120px;
}
.PokeImgDiv{
  height: 140px;
}
.PokeballImg{
  height: 60px;
}
.headerTop{
  font-size: 18px;
  gap: 10px;
}
.searchSection{
  height: 45px;
}
.SearchBar{
  height: 18px;
}
.searchButton{
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-position: 0px 0px;
  margin-right: 10px;
}
.mainCard{
  display: flex;
}
.PokeCardClosebutton{
  height: 20px;
  width: 42px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}